@using WebTester.Models

@model TestPushRequest
@{
    ViewBag.Title = "Index";
}

<h2>Test Push Notification</h2>

<div class="text-danger">
    @Html.ValidationSummary()
</div>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="@Html.IdFor(m=>m.PayloadJson)">@Html.DisplayNameFor(m=>m.PayloadJson)</label>
        <textarea name="@Html.NameFor(m=>m.PayloadJson)" id="@Html.IdFor(m=>m.PayloadJson)"class="form-control" rows="20"></textarea>
        <div class="text-danger"><strong>@Html.ValidationMessageFor(m => m.PayloadJson)</strong></div>
    </div>
    <div class="form-group">
        <label for="@Html.IdFor(m=>m.Endpoints)">@Html.DisplayNameFor(m => m.Endpoints)
            <em class="small text-info">if the following is empty, refresh the page.</em>
        </label>

        <div class="checkbox">
            @foreach (var ep in Model.Endpoints) {
                <label>
                    <input type="checkbox" name="@(Html.NameFor(m=>m.Endpoints))[@ep.Key]" value="@true.ToString()" />
                    <small>@ep.Key</small>
                </label>
            }
            <div class="text-danger"><strong>@Html.ValidationMessageFor(m => m.Endpoints)</strong></div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

@if (Model.PushResults != null && Model.PushResults.Count > 0) {
    <h2>Push Results</h2>
    <div>
        @foreach (var pr in Model.PushResults) {
            <p>
                <strong>@pr.Key</strong><br/>
                @pr.Value
            </p>
        }
    </div>
}